<div id="sidebar">
    <h2>Yamaji Tatsuki</h2>
    <h3>@tatuki1302</h3>
       <ul>
       <li>〇〇大学　情報学部　　3年YamajiTatsukiです　日々思ったことや気になったことを共有出来たらと思います</li>
       <li>〇〇大学</li>
       <li>2020年09月登録</li>
       </ul>
</div>